<%- include ("partials/header") %>
<%- include ("partials/navbar") %>
<div class="container about-container">
	<div class="row">
		<div class="col col-sm-12 mission">
			<h1>Our Mission</h1>
			<div class="text-center">
				<p>
				The purpose of this site is to demonstrate the use of an info site to dispaly images and text to a user. We also give the option to click on one of the many links and be transported to a new section of the site with a clear outlined vision of what the page entails.
				</p>			
			</div>

		<div class="col col-sm-12">

			<h2>The Links</h2>
			<div class="text-center">
			<p>Our many links transport you to a new section of the page and below we will outline the objective of each.</p>
			</div>
			<div class="links">

			<ul>
				<li>
					<h4>Home</h4>
					<p>The <strong>Home</strong> page dispalys text and images to the user with relevent information about the given topic.</p>
				</li>
				<li>
					<h4>About</h4>
					<p>The <strong>About</strong> page will display information about the goal of the site as well as layout the general topics of the many links.</p>
				</li>
				<li>
					<h4>Info</h4>
					<p>The <strong>Info</strong> link will bring you to a section of the site that will explain in a general way an outline of Physics and Astronomy</p>
				</li>
				<li>
					<h4>Contact Us</h4>
					<p>The <strong>Contact Us</strong> link will bring you to a page that will allow you to get in contact with the site via an email link. ( On this page it will simply bring you to the github associated with my account. )</p>
				</li>
				<li>				
					<h4>Contribute</h4>
					<p>The <strong>Contribute</strong> link will transport you to an area to donate to the main topic at hand via a link to their direct donate page. ( In this case it will bring you to a NASA webpage to make a donation. )</p></li>
				<li>
					<h4>Privacy Policy</h4>
					<p>The <strong>Privacy Policy</strong> link will typically bring you to an area required by web pages to display that they may collect personal data like names, email address, IP addresses, session activity and payment details, to name a few.</p>
				</li>
				<li>
					<h4>Physics</h4>
					<p>The <strong>Physics</strong> link will direct you to an outside webpage dedicated to physics.</p>
				</li>
				<li>
					<h4>Astronomy</h4>
					<p>The <strong>Astronomy</strong> link will direct you to an outside webpage dedicated to astronomy.</p>
				</li>
				<li>
					<h4>Art/Design</h4>
					<p>The <strong>Art/Design</strong> link will direct you to an outside webpage where the images and art for the page were collected.</p>
				</li>
			</ul>
								
			</div>
		</div>
	
		</div>
	</div>
</div>


<%- include ("partials/footer") %>