<%- include ("partials/header") %>
<%- include ("partials/navbar") %>
<div class="container info-container">
	<div class="row">
		<div class="col col-sm-12">
			<h2>Astronomy</h2>
			<p class="info"> The branch of science which deals with celestial objects, space, and the physical universe as a whole.</p>
		</div>
		
		<div class="col col-sm-12">
			<h2>Physics</h2>
			<p class="info">The branch of science that deals with the structure of matter and how the fundamental constituents of the universe interact. It studies objects ranging from the very small using quantum mechanics to the entire universe using general relativity.</p>
		</div>
		<div class="col col-sm-12">
			<h2>Astronomy and Physics together</h2>
			<p class="info">Astronomers use the principles of physics and mathematics to learn about the fundamental nature of the universe and its components, including the sun, moon, planets, stars, and galaxies. As such, astronomy is sometimes considered a subfield of physics.</p>
			
		</div>
	</div>
</div>


<%- include ("partials/footer") %>