div.container.about-container{
	margin-top:100px;
	margin-bottom:30px;
	max-width:800px;
	font-family: 'Lato', sans-serif;
}

div.mission{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-wrap:wrap;	
}

div.text-center{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-wrap:wrap;	
}

div.links ul{
	margin-left:60px;
}
h1{
	font-weight:700;
}

h2{
	font-weight:700;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-wrap:wrap;	
}
h4{
	font-weight:700;
	text-decoration:underline;
}

li{
	list-style:none;
}
p{
	font-weight:400;
}


