div.container.about-container{
	margin-top:130px;
	margin-bottom:30px;
	max-width:800px;
	font-family: 'Lato', sans-serif;
}
div.mission{
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
	margin:auto;
}
li{
	list-style:none;
}
h4{
	margin-right:20px;
}
p.about{
	margin-right:20px;
}