html,body{	
	height:100%;
	width:100% !important;
	margin:0 !important;
	overflow-x:hidden;
	padding-top:70px;
	padding:0 !important;

}

div.container{
	max-width:100%;	
	display:flex;
	justify-content:center;
	align-items:center;
	flex-wrap:wrap;
}
div.container.page-container{
	margin-top:50px;
	margin-bottom:30px;
}
div.row{
	display:flex;	
	justify-content:center;
	align-items:center;	
	flex-wrap:wrap;	
	width:100%;
	margin-bottom:30px;
	margin-top:30px;
}

div.center{
	display:flex;
	justify-content:center;
	align-items:center;
	margin-right:0;
	margin-left:0;
}
p{
	margin-top:20px;
	width:75%;
	
}
