div.container.info-container{
	margin-top:100px;
	maring-bottom:30px;
	height:80%;
	display:flex;
	flex-wrap:wrap;
	
}
div.row{
	display:flex;
	justify-content:center;
	align-items:center;
	margin:auto;
	margin-bottom:40px;
	text-align:center;
}
div p{
	display:flex;
	justify-content:center;
	align-items:center;
	margin:auto;
	margin-bottom:40px;
	text-align:center;
}