nav#myNavbar.navbar.navbar-expand-lg.navbar-light.bg-dark{
	position:fixed;
	width:100%;
	top:0;
	z-index:1;
	font-family: 'Roboto', sans-serif;
	background-color:#717171 !important;
	padding-bottom:20px;
	padding-top:20px;
}
a.navbar-brand{
	font-weight:700;
	font-size:22px;
	color:#FFF !important;
	letter-spacing:.18rem;
}
i.fas.fa-info{
	font-size:24px;
	
}
a.nav-link{
	font-weight:400;
	font-size:22px;
	color:#fff !important;
}
a.nav-link:hover{
	color:#323232 !important;
}
.scroll {
  background-color: transparent;
}